.del-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 600px;
    @include phone() {
        height: auto;
        min-height: auto;
    }
}

// ------------------------ section 1 ---------------------------

.del-sec1-bg {
    background: url(../img/delivery-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.del-sec1-overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.del-sec1-form {
    @include centered();
    text-align: center;
    @include phone() {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        padding: 120px 15px 40px 15px;
    }
}

.del-form-title {
    font-size: 88px;
    color: #fff;
    @include phone() {
        font-size: 72px;
    }
}

.del-form-subtitle {
    font-size: 36px;
    color: #fff;
    margin: 10px 0 40px 0;
}

.del-form-download {
    color: #fbb623;
    font-size: 25px;
}

// ------------------------ section 2 ---------------------------

.del-section2 {
    background-image: linear-gradient(#fff, #fff 43%, #e8e8e8);
}

.del-sec2-advantages {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 100%;
    width: 70%;
    @include phone {
        width: auto;
    }
}

.midle-container {
    @include centered();
    width: 100%;
    padding: 80px 30px;
    @include phone() {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }
}

.del-sec2-title {
    font-size: 65px;
    margin-bottom: 20px;
    color: #fbb623;
}

.del-sec2-subtitle {
    font-size: 21px;
    margin-bottom: 30px;
}

.del-sec2-list {
    display: flex;
    flex-wrap: wrap;
}

.del-sec2-item {
    width: 33%;
    padding: 50px 20px 0 20px;
    & .icon-text {
        font-size: 16px;
    }
    @include phone() {
        width: 50%;
    }
}

.del-sec2-image {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 30%;
    & img {
        @include centered();
        height: 65%;
    }
    @include phone() {
        display: none;
    }
}

// ------------------------ section 3 ---------------------------

.del-section3 {
    height: 75vh;
    @include phone() {
        height: auto;
    }
}

// ------------------------ section 4 ---------------------------




