header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 99;
    background: rgba(255,255,255,0.95);
    overflow: hidden;
    @include phone() {
        height: 65px;
    }
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    @include phone() {
        width: 90%;
        margin: 0 auto;
    }
}

#btn-nav {
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 20px;
    @include phone() {
        margin-left: 0;
    }
}

.stick-list {
    & :nth-child(1) {
        top: 0;
    }
    & :nth-child(2) {
        top: 10px;
    }
    & :nth-child(3) {
        top: 20px;
    }
    & li {
        background: #000;
        height: 0.125rem;
        display: block;
        position: absolute;
        border-radius: 2px;
        opacity: 1;
        width: 30px;
        left: 0;
        transition: top .15s .15s, transform .15s;
    }
}

.stick-list.active {
    & :first-child {
        top: 10px;
        transform: rotate(45deg);
        transition: top .15s, transform .15s .15s;
    }
    & :nth-child(2), :nth-child(3) {
        top: 10px;
        transform: rotate(-45deg);
        transition: top .15s, transform .15s .15s;
    }
}

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    & :first-child {
        margin-bottom: 2px;
        padding: 15px 0;
    }
    @include phone() {
        & :not(:first-child) {
            display: none;
        }
    }
}

.header-menu__item {
    position: relative;
    padding: 30px 20px;
    & img {
        width: 110px;
        height: 55px;
    }
    &:hover {
        &:after {
            visibility: visible;
            width: 100%;
        }
    }
    &:nth-child(1) {
        // padding: 8px 20px;
        padding: 30px 20px;
        &:after {
            // bottom: -13px;
            // bottom: -5px;
            bottom: 11px;
        }
    }
}

.header-menu__item:after {
    content: '';
    position: absolute;
    // bottom: -34px;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 0;
    visibility: hidden;
    background-color: #fbb623;
    transition: .5s;
}

#logo {
    display: block;
}

.navigation-right {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    justify-content: flex-end;
    @include phone() {
        display: none;
    }
}

.icon-svg {
    vertical-align: middle;
    margin: 0 7px;
}

.city-selector {
    margin-right: 20px;
}

.navigation-right_do-order {
    padding: 12px 8px;
    border: 1px solid #e8a922;
    border-radius: 4px;
    &:hover {
        color: #fff;
        background-color: #e8a922;
    }
}

.navigation-right_log-in {
    padding: 0 33px;
}