include ./blocks/header.pug
include ./blocks/footer.pug
include ./blocks/download-apps-block.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        //- meta(name="veewport" content="user-scalable=no")
        title Lite Taxi
        link(rel="stylesheet", href="../css/app.css")
    body
        block content
        script(src="../js/app.js")
    