#container
    #second-container
        //- .add-promocode-activate
        h2 Активировать промокод
        .add-input-wrapper
            input(type="email", name="", placeholder="Промокод").add-input
        p.add-subtitle Промокод можно получить от друзей либо участвуя в акциях
        .add-button-wrapper
            input(type="button", value="ДОБАВИТЬ").add-button
    .add-promocode-share
        h2.add-promocode-share__title Подарить промокод другу
        p Подарите другу скидку 50% на 3 первые поездки при оплате картой. Скидка только для новых пользователей.
        p.add-promocode-subtitle Осталось 5 промокодов
        .add-button-wrapper.add-button-wrapper--promocode
            input(type="button", value="Подарить скидку").add-button.add-button