#container
    #second-container
        //- .add-mail-container
        h2 Почта для отчетов
        .add-input-wrapper
            input(type="email", name="", placeholder="Электронный адрес").add-input
        p.add-subtitle На этот адрес мы будем высылать вам отчеты о ваших поездках
        .add-button-wrapper
            input(type="button", value="ДОБАВИТЬ").add-button