extends ../_template.pug

block content
    +header()
    section.index-section
        .index-container
            .input-form
                .destination
                    .destination-from
                        input(type="text" placeholder="Откуда*").workarea-form-input
                    .destination-to
                        input(type="text", placeholder="Куда").workarea-form-input
                .info
                    .info-phone
                        input(type="tel", placeholder="Телефон").workarea-form-input
                    .info-time
                        input(type="text", placeholder="Ближайшее время").workarea-form-input
                        //- установить конкретное время
                    .info-place
                        input(type="text", placeholder="Подъезд").workarea-form-input
                .coments
                    textarea(name="", placeholder="Коментарий к заказу").workarea-form-textarea
            .butns
                .order-btn
                    a(href="")
                        input(type="button", value="Вызвать Такси Онлайн").workarea-form-input
                p.butns__or ИЛИ
                .call-btn
                    a(href="tel:535")
                        input(type="button", value="Заказать такси по телефону: 535").workarea-form-input
    +footer()