#container
    #second-container
        //- .entry-payment-container
        h2 Способ оплаты
        ul.entry-payment-container__list
            li.entry-payment-container__item
                a(href="payment-add-card.html")
                    img(src="./img/icons/payment-icon.png", alt="")
                    span Привязать карту
            li.entry-payment-container__item
                a(href="payment-cash.html")
                    img(src="./img/icons/payment-icon2.png", alt="")
                    span Наличные